html, .navbar, a.navbar-item:hover, .navbar-dropdown, .has-dropdown, .navbar-link:hover, .navbar-dropdown a.navbar-item:hover, .navbar-link:focus {
    background-color: transparent;
}

body {
    background-image: url("./pictures/bckgrd_odd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow {
    color: yellow;
}

.blue {
    color: deepskyblue;
}

.title {
    color: deepskyblue;
    text-shadow: 3px 3px 0 yellow;

}


.navbar-item, .navbar-link {
    color: yellow;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: yellow;
}

.navbar-item img {
    max-height: 100%;
}

.title.is-1 {
    font-size: 13vh;
}
