html {
    background-color: transparent;
}

body {
    background-image: url("./pictures/bckgrd_odd.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow {
    color: yellow;
}

.blue {
    color: deepskyblue;
}

.title {
    color: deepskyblue;
    text-shadow: 3px 3px 0 yellow;

}

.navbar {
    background-color: transparent;
}

.navbar-item {
    color: yellow;
}

.navbar-item img {
    max-height: 100%;
}

